VITE_API_URL=http://localhost:3000
VITE_CLERK_PUBLISHABLE_KEY=pk_test_<your_clerk_publishable_key>
VITE_IMAGE_KIT_ENDPOINT=https://ik.imagekit.io/<your_imagekit_id>
VITE_IMAGE_KIT_PUBLIC_KEY=public_<your_imagekit_public_key>
